@import "tailwindcss";

.animate-top-to-bottom {
  animation: top-to-bottom var(--duration) linear forwards;
}

@keyframes top-to-bottom {
  0% {
    top: -1.5rem;
  }
  100% {
    top: 100%;
  }
}

.blind-mode {
  transition: opacity 0.5s calc(var(--duration) * 3 - 0.5s) ease-in-out;
  opacity: 0;
}
